@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: Copperplate, Fantasy;">Welcome</h1>
    <p style="font-family: Lucida Handwriting, Cursive;">Learn about <a href="https://docs.microsoft.com/aspnet/core" style="color: #007bff; text-decoration: none;">building Web apps with ASP.NET Core</a>.</p>
    <a href="https://docs.microsoft.com/aspnet/core">
        <img src="~/images/RealWorldCICDCourse.PNG" alt="CI_logo" width="450">
    </a>
</div>
